doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Influga
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')

    link(href="images/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon")
    link(href="images/favicon.ico" type="image/vnd.microsoft.icon" rel="icon")

    link(rel='stylesheet' href='./css/vendor.css' type='text/css')
    link(rel='stylesheet' href='./css/main.css' type='text/css')
  body
    #app
      div(v-component="dashboard", v-with="dashboard")

    script(src="./js/vendor.js")
    script(src="./js/index.js")
